! Display
Xft.dpi: 110

! Font
*font: Terminus:size=10
*user_bh: 0

! Colors
*foreground: gray

! dwm appearance
dwm*norm_fg: #dadada
dwm*norm_bg: #0a0a0a
dwm*norm_border: #555555

dwm*sel_fg: #dadada
dwm*sel_bg: #555555
dwm*sel_border: #a8a8a8

dwm*borderpx: 3

dwm*gappih: 6
dwm*gappiv: 6

! Theme
Xcursor.theme: Adwaita
Xcursor.size: 24

dwm*roficonfig: ~/.config/rofi/dmenu_hidpi.rasi
