! Display
Xft.dpi: 120

! Font
*font: Terminus:size=10
*user_bh: 0

! Colors
*foreground: gray

! dwm appearance
dwm*norm_fg: #dadada
dwm*norm_bg: #000000
dwm*norm_border: #555555

dwm*sel_fg: #dadada
dwm*sel_bg: #252525
dwm*sel_border: #a0a0a0

dwm*borderpx: 4

! Theme
Xcursor.theme: Adwaita
Xcursor.size: 24

dwm*roficonfig: ~/.config/rofi/dmenu_hidpi.rasi
