[submodule "source/st"]
	path = source/st
	url = https://github.com/techno-sorcery/st
[submodule "source/dwm"]
	path = source/dwm
	url = https://github.com/techno-sorcery/dwm
[submodule "config/nvim/.config/nvim"]
	path = config/nvim/.config/nvim
	url = https://github.com/techno-sorcery/nvim
